.DS_Store
.nuxt
.output
.env
.env.*
!.env.example
.turbo
.vite
docs/.silen/.temp
docs/.silen/dist
.playwright-cli
coverage
dist
node_modules
output
playwright-report
test-results
types-temp
*.log
*.tgz
.idea
.vscode
