$color0: #2C8EF6;
@import './size/small.scss';
@import './size/large.scss';
.vueAudioNative {
    &.small {
        @extend %small;
    }
    &.large {
        @extend %large;
    }
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    .audio-left {
        display: flex;
        align-items: center;
        // flex: 1;
        .iconfont {
            font-size: 20px;
            color: $color0;
            cursor: pointer;
            -moz-user-select: none;
            /*火狐*/
            -webkit-user-select: none;
            /*webkit浏览器*/
            -ms-user-select: none;
            /*IE10*/
            -khtml-user-select: none;
            /*早期浏览器*/
            user-select: none;
        }
        span {
            font-size: 16px;
            padding: 7px 5px;
        }
    }
    .audio-right {
        // width: 60%;
        flex: auto;
        margin-left: 6px;
        position: relative;
        -moz-user-select: none;
        /*火狐*/
        -webkit-user-select: none;
        /*webkit浏览器*/
        -ms-user-select: none;
        /*IE10*/
        -khtml-user-select: none;
        /*早期浏览器*/
        user-select: none;
        .slider {
            width: 100%;
            height: 6px;
            border-radius: 4px;
            background-color: #e8eaec;
            cursor: pointer;
            @-webkit-keyframes anim-name {
                0% {
                    /* 动作1 */
                    transform: rotate(0);
                }
                25% {
                    /* 动作3 */
                    transform: rotate(90deg);
                }
                50% {
                    /* 动作5 */
                    transform: rotate(180deg);
                }
                75% {
                    /* 动作3 */
                    transform: rotate(270deg);
                }
                100% {
                    /* 动作1 */
                    transform: rotate(360deg);
                }
            }
            .slider-btn {
                width: 10px;
                height: 10px;
                margin-left: -5px;
                position: absolute;
                top: -4px;
                left: 0;
                z-index: 3;
                border: 2px solid $color0;
                box-sizing: content-box;
                border-radius: 20px;
                background-color: #fff;
                .anim {
                    position: absolute;
                    top: -2px;
                    left: -1px;
                    font-size: 12px!important;
                    color: $color0;
                    animation: anim-name 1s linear infinite;
                    transform-origin: center center;
                }
                %tip {
                    display: block!important;
                    padding: 5px 5px;
                    position: absolute;
                    top: -35px;
                    left: -150%;
                    font-size: 12px;
                    color: #fff;
                    border-radius: 4px;
                    background-color: $color0;
                    .arrow {
                        left: 50%;
                        margin-left: -5px;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-color: transparent;
                        border-style: solid;
                        bottom: -5px;
                        border-width: 5px 5px 0;
                        border-top-color: $color0;
                    }
                }
                .tip-on {
                    @extend %tip;
                }
                &:hover {
                    width: 14px;
                    height: 14px;
                    margin-left: -7px;
                    top: -6px;
                    border: 3px solid $color0;
                    .tip-hover {
                        @extend %tip;
                        left: -95%;
                    }
                    .anim {
                        top: -1px;
                        //                      left: -1px;
                        font-size: 16px!important;
                    }
                }
            }
            .slider-bar {
                height: 6px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                border-radius: 4px;
                background-color: $color0;
            }
            .slider-buffer {
                height: 6px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                border-radius: 4px;
                background-color: #DCDEE2;
            }
        }
    }
    .audio-muted {
        margin-left: 10px;
        font-size: 18px;
        color: $color0!important;
        cursor: pointer;
    }
    .audio-download {
        margin-left: 10px;
        color: $color0!important;
        -moz-user-select: none;
        /*火狐*/
        -webkit-user-select: none;
        /*webkit浏览器*/
        -ms-user-select: none;
        /*IE10*/
        -khtml-user-select: none;
        /*早期浏览器*/
        user-select: none;
    }
    a:-webkit-any-link {
        color: $color0!important;
    }
    .hint {
        flex: auto;
        text-align: center;
        padding: 15px 0;
    }
}